<header class="header">
  <div class="header__container _container">
    <div class="header__body">
      <a href="index.html" class="header__logo">
        <img src="./img/logo.png" alt="logo">
      </a>
      <nav class="nav" aria-label="Верхнее меню" title="">
        <ul class="nav__list list-reset">
          <li class="nav__item">
            <a href="#" class="nav__link">Главная</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Наши склады</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Брокерам</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Контакты</a>
          </li>
        </ul>
      </nav>
      <select name="form[]" class="header__select">
        <option value="1" selected="selected">RU</option>
        <option value="2">EN</option>
      </select>
    </div>
  </div>
</header>

