:root {
  // base
  --font-family: "Montserrat", sans-serif;
  --font-system: -apple-system, BlinkMacSystemFont, Arial, sans-serif;

  // colors
  --accent-device-color: #00A759;
  --btn-bg: #22774F;
  --btn-hover-bg: #00CA6C;
  --btn-active-bg: #154A31;
  --accent-active-color: #154A31;
  --light-color: #ffffff;
  --header-bg: #1A2633;
  --footer-bg: #1A2633;
  --hero-bg: #16212E;
  --hover-color: #ABABAB;
  --item-bg: #18274E;
}
$widthContent: 1530;
$offsetContainer: 15;
$maxWidthContainer: $widthContent + ($offsetContainer * 2);
$gap: 10px;
